.scroll-svg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-svg {
  max-width: 100%;
  height: auto;
  transition: stroke-dashoffset 0.5s ease;
} 